.opening-times__item:after {
	content: '';
	display: block;
	position: absolute;
	bottom: calc(theme(spacing.1) + 2px);
	left: 0;
	width: 100%;
	border: 1px dotted theme(colors.gray.100);
	z-index: 10;
}
