---
title: Icon Library
---

{% extends "layouts/default.njk" %}

{% block content %}

    <div
        x-data="{ query: '' }"
        x-init="const urlParams = new URLSearchParams(window.location.search); query = urlParams.get('search') || '';"
        class="container"
    >
        <div class="flex flex-wrap gap-8 justify-between items-center pt-20">
            <div>
                <h2>Icon Library</h2>
                <nav>
                    <ul class="flex flex-wrap items-center gap-4 text-sm" role="list">
                        {% for set in icons %}
                            <li>
                                <a href="#{{ set.id }}">{{ set.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <form class="relative md:w-64">
                {% icon "search", "z-40 fill-gray-600 absolute left-3 top-3" %}
                <input x-model="query" type="text" name="search" placeholder="Search icons" class="!pl-10">
            </form>
        </div>

        {% for set in icons %}
            <section id="{{ set.id }}" class="space-y-3 py-16">
                <h2>{{ set.title }}</h2>
                <ul class="grid grid-cols-2 gap-sm sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-6" role="list">
                    {% for icon in set.icons %}
                        <li
                            x-data="{ copied: false }"
                            @click="window.copyInnerHTMLToClipboard($el.querySelector('[data-contents]')); copied = true; setTimeout(() => copied = false, 1000)"
                            :hidden="'{{ icon.name }}'.includes(query) ? false : true"
                            class="cursor-pointer grid grid-rows-[60%_40%] bg-white/80 border border-black/10 backdrop-blur-sm rounded aspect-square hover:shadow-lg"
                        >
                            <div x-show="!copied" data-contents class="flex justify-center items-center text-xl">
                                {{ icon.contents | safe }}
                            </div>
                            <div x-show="copied" x-cloak class="flex items-center justify-center text-center">
                                <p class="text-sm font-bold text-emerald-600">Copied!</p>
                            </div>
                            <p class="px-3 py-2 text-xs text-center border-t border-t-white">{{ icon.name }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endfor %}
    </div>

{% endblock %}